@import './colors.scss';

body,
html {
  .shadow {
    text-shadow: 2px 2px 8px #e9f1f2;
  }
  background-color: $main-bg;
  color: $main-color !important;
  overflow-x: hidden !important;
  padding: 0;
  margin: 0;
  font-family: sans-serif !important;
  ::selection {
    color: $main-bg;
    background-color: $sexy-red;
  }
  a {
    text-decoration: none;
  }
  .m-b-40px {
    margin-bottom: 40px;
  }
}
.custom-icon-size {
  font-size: 50px;
  padding: 20px;
}

// .icon-header {
//   color: $main-color;
// }

#main {
  min-height: 100vh;
  max-width: 100vw;
  h1 {
    z-index: 1;
  }
}

.info,
#skills {
  background-color: $main-bg;
  a {
    color: $sexy-red !important;
    &:hover {
      color: $main-color !important;
    }
  }
}

.selected-projects {
  font-family: sans-serif;
}

#github-data {
  .chart {
    height: 500px;
    width: 100%;
  }
}

.p {
  padding: 1em;
}

.center {
  text-align: center;
}

#main {
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 5em;
  }
}

.hvr-bounce-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-out:hover,
.hvr-bounce-out:focus,
.hvr-bounce-out:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

html {
  --scrollbarBG: #0e0e0e;
  --thumbBG: #a41304;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.rm-margin-left {
  margin-left: 0 !important;
}
